@charset "UTF-8";
@import "_options";
@import "_mixins";
@import "_functions";
@import "_swiper";
@import "_audio";

body {
	background: #f8f8f8;
}

video::-webkit-media-controls {  
    display:none !important;
}

.top-banner {
	width: 100%;
	height: 180px;
	background: #D8D8D8;
	overflow: hidden;
	.swiper-slide {
		background-size: 100% auto;
		background-position: center center;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.title {
	font-size: 18px;
	color: #4A4A4A;
	letter-spacing: -0.43px;
	text-align: center;
	margin: 10px 0;
	padding: 0 16px;
}

.tt-info {
	font-size: 14px;
	color: #757575;
	letter-spacing: -0.34px;
	height: 18px;
	// margin: 5px 0 10px 0;
	padding: 0 16px;
	line-height: 18px;
	.speed {
		margin-left: 10px;
		display: inline-block;
		min-width: px(18 * 2 + 35);
		vertical-align: -3px;
		>div {
			float: left;
			text-align: center;
			&:nth-child(2) {
				height: 18px;
				min-width: 34px;
			}
		}
		.plus {
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: #fff;
			border: 2px solid #C2C2C2;
			position: relative;
			&:after {
				content: '';
				width: 10px;
				height: 2px;
				background: #C2C2C2;
				position: absolute;
				top: px((14-2)/2);
				left: px((14-10)/2);
				z-index: 5;
			}
			&:before {
				content: '';
				height: 10px;
				width: 2px;
				background: #C2C2C2;
				position: absolute;
				left: px((14-2)/2);
				top: px((14-10)/2);
				z-index: 5;
			}
		}
		.subtract {
			@extend .plus;
			&:before {
				display: none;
			}
		}
	}
}

.player {
	width: 100%;
	height: px(36);
	margin-bottom: 15px;
	>div {
		width: 320px;
		margin: 0 auto;
		.audiojs {
			box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
}

.player {
	width: 320px;
	height: 90px;
	margin: 0 auto;
	position: relative;
	.ico-prev {
		width: 22px;
		height: 22px;
		background: url(../images/ico-prev.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 50px;
		left: 40px;
		z-index: 15;
	}
	.ico-next {
		width: 22px;
		height: 22px;
		background: url(../images/ico-next.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 50px;
		right: 50px;
		z-index: 15;
	}
	.audio-js-box {
		width: 100%;
		height: 100%;
	}
	
}

.mejs__container {
	width: 320px !important;
	min-width: 320px !important;
}
.mejs__offscreen {
	display: none;
}
.mejs__button > button,
.mejs__container,
.mejs__controls:not([style*='display: none']) {
	background: none;
}
.mejs__controls {
	padding: 0;
	position: relative;
}
.mejs__playpause-button {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
    margin-left: -11px;
    &.mejs__play {
    	background-image: url(../images/ico-play.png);
    }
    &.mejs__pause {
    	background-image: url(../images/ico-halt.png);
    }
}

.mejs__time {
	color: #000;
	text-shadow: none;
	font-family: '.AppleSystemUIFont';
	font-size: 13px;
	letter-spacing: -0.08px;
	position: absolute;
	top: 15px;
	&.mejs__currenttime-container {
		left: -10px;
	}
	&.mejs__duration-container {
		right: -10px;
	}
	>span {
		font-weight: normal;
	}
}

.mejs__time-rail {
	height: 3px;
	background: #333;
	border-radius: 2px;
	position: relative;
	overflow: initial;
	margin: 0;
	margin-top: 15px;
	padding: 0;
	.mejs__time-total {
		margin: 0;
		top: 0;
		background: rgba(255, 255, 255,0);
	}
	.mejs__time-loaded {
		background: rgba(255,255,255,.4);
		border-radius: 2px;
	}
	.mejs__time-handle {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #fff;
		border: 0 solid rgba(0,0,0,0.10);
		box-shadow: 0 2px 1px 0 rgba(0,0,0,0.05), 0 1px 1px 0 rgba(0,0,0,0.10), 0 2px 2px 0 rgba(0,0,0,0.05);
		position: absolute;
		right: -7px;
		top: -7px;
		z-index: 10;
		outline: none;
		.mejs__time-handle-content {
			display: none;
		}
	}
	.mejs__time-current, .mejs__time-handle-content {
		background: rgba(0, 0, 0, 0.8);
	}
}

.mejs__time-total, .mejs__time-buffering, .mejs__time-loaded, 
.mejs__time-current, .mejs__time-float, .mejs__time-hovered, 
.mejs__time-float-current, .mejs__time-float-corner, .mejs__time-marker {
	height: 3px;
}

.press {
	font-size: 14px;
	letter-spacing: -0.34px;
	width: 350px;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
	.lf {
		color: #F6A623;
		float: left;
		margin-left: 10px;
	}
	.rg {
		color: #7ED321;
		float: right;
		margin-right: 10px;
	}
}

.line {
	width: 350px;
	height: 15px;
	margin: 0 auto 18px auto;
}

.btn-invitation {
	color: #fff;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #70AFFD;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 50%;
	position: fixed;
	right: 17px;
	bottom: px(105 + 50 + 32 + 12);
	z-index: 20;
}

.btn-comment {
	@extend .btn-invitation;
	bottom: px(105 + 50);
}

.contents {
	width: auto;
	padding: 0 16px;
	h4 {
		font-weight: normal;
		font-size: 18px;
		color: #4A4A4A;
		letter-spacing: -0.43px;
	}
	.desc {
		font-size: 14px;
		color: #9B9B9B;
		letter-spacing: -0.34px;
		margin-top: 15px;
		line-height: 20px;
	}
	.btns {
		margin-top: 25px;
		height: px(46 + 2);
		>div {
			font-size: 14px;
			width: 140px;
			height: 46px;
			line-height: 46px;
			text-align: center;
			color: #666;
			display: inline-block;
			background: #fff;
			border: 1px solid #E6E6E6;
			border-radius: 100px;
			&:last-child {
				float: right;
			}
		}
		.sed {
			color: #F6A623;
			border: 1px solid #F6A623;
		}
	}
}

.comments {
	width: auto;
	padding: 0 16px;
	ul {
		width: 100%;
		margin-bottom: 20px;
	}
	li {
		width: 100%;
		height: auto;
		min-height: 60px;
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
		flex-direction: row;
		margin: 10px 0;
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			border-bottom: 0;
		}
		>div {
			float: left;
		}
		.pic {
			width: 43px;
			height: 43px;
			border-radius: 50%;
			overflow: hidden;
			background: #D8D8D8;
			margin-top: px((60-43)/2);
			img {
				width: 100%;
				height: 100%;
			}
		}
		.info {
			margin-left: 18px;
			position: relative;
			-webkit-flex: 1;
			flex: 1;
			.name {
				font-size: 14px;
				color: #4A4A4A;
				letter-spacing: -0.34px;
				margin-top: 5px;
			}
			.con {
				font-size: 12px;
				color: #9B9B9B;
				letter-spacing: -0.29px;
				margin-top: 5px;
			}
			.time {
				font-size: 12px;
				color: #9B9B9B;
				letter-spacing: -0.29px;
			}
			.star {
				height: 14px;
				position: absolute;
				right: 5px;
				top: 5px;
				z-index: 5;
			}
		}
	}
}

.add-comments {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 10px 0;
	background: #fff;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	display: none;
	text-align: center;
	input {
		font-size: 14px;
		padding: 0 10px;
		width: 74%;
		height: 28px;
		border: 1px solid #E6E6E6;
	}
	.btn {
		color: #fff;
		font-size: 14px;
		height: 30px;
		padding: 0 10px;
		background: #F6A623;
		display: inline-block;
		border-radius: 5px;
		margin-left: 10px;
	}
}

.dialog-playend {
	>div {
		height: 180px;
		text-align: center;
		margin-top: -90px;
		.tip {
			font-size: 20px;
			color: #666;
			margin-top: 47px;
		}
		.contents {
			padding: 0;
		}
	}
	.btn-join {
		font-size: 14px;
		color: #fff;
		width: 220px;
		height: 46px;
		line-height: 46px;		
		background: #FEC73A;
		border-radius: 100px;
		display: block;
		margin: 37px auto 0 auto;
		&:hover {
			color: #fff;
		}
	}
}

footer {
	&.member { // 会员
		>div {
			&:first-child {
				font-size: 18px;
				text-align: right;
				padding-right: 15px;
			}
			&:last-child {
				line-height: 18px;
				padding-top: 8px;
				padding-left: 15px;
				text-align: left;
			}
		}
	}
	&.guest { // 游客
		>div {
			&:first-child {
				border-right: 1px solid #fff;
				span {
					line-height: 16px;
					display: inline-block;
					vertical-align: -8px;
					margin-right: 10px;
					text-align: right;
				}
			}
		}
	}
}