@charset "UTF-8";

@import "_options";
@import "_mixins";
@import "_functions";
@import "_swiper";

// #index-main {
// 	display: none;
// }

.top-search {
	width: 100%;
	text-align: center;
	display: none;
	input {
		font-size: px(14);
		width: px(358);
		height: px(30);
		line-height: px(30);
		margin: 10px 0;
		text-align: center;
		border-radius: px(5);
		border: 0;
	}
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background-image: linear-gradient(-45deg, #fec070 0%, #fc8c7d 100%);
}

.slider {
	width: 100%;
	height: rem(150);
	background: #d8d8d8;
	.swiper-slide {
		background-size: 100% auto;
		background-position: center center;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.line-b {
	border-color: #eee;
	border-width: 5px;
}

.column {
	margin-top: px(20);
	padding: 0 px(20);
	&.search-list {
		margin-top: 60px;
	}
	.tt {
		font-size: px(15);
		line-height: 15px;
		color: rgb(132,125,125);
		letter-spacing: -0.43px;
		padding-left: px(5+3);
		position: relative;
		&:after {
			content: '';
			height: 100%;
			width: 3px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			border-radius: 2px;
		}
		.more {
			font-size: 14px;
			color: #4A4A4A;
			letter-spacing: -0.34px;
			float: right;
		}
		&.free-tt {
			// border-left: 3px solid #eb6877;
			&:after {
				background: #eb6877;
			}
		}
		&.best-tt {
			// border-left: 3px solid #b3e282;
			&:after {
				background: #b3e282;
			}
		}
	}
	.free-class { // 免费微课
		margin-top: px(10);
		li {
			width: 100%;
			height: px(48);
			margin: px(10) 0;
		}
		.pic {
			width: px(40);
			height: px(40);
			background: #D8D8D8;
			// border-radius: 4px;
			margin-top: 4px;
			margin-left: 14px;
			margin-right: 14px;
			float: left;
		}
		.sound {
			width: 190px;
			height: 40px;
			float: left;
			position: relative;
			margin-top: px(4);
			margin-left: 6px;
			background-color: #b2e281;
			border-radius: 3px;
			.voice {
				width: 23px;
				height: 40px;
				position: absolute;
				left: 13px;
				background: url(../images/audio.png) no-repeat;
				background-position-y: center;
			}
			&.new:after {
				content: '';
				width: 6px;
				height: 6px;
				background: #f00303;
				border-radius: 50%;
				position: absolute;
				top: 0;
				right: -10px;
				z-index: 5;
			}
			&.playing {
				.voice {
					background-image: url(../images/audio_playing.gif);
				}
			}
		}
		.longtime {
			font-size: 14px;
			color: #9B9B9B;
			letter-spacing: -0.39px;
			float: left;
			margin-left: 10px;
			margin-top: 17px;
		}
	}
	.best-class { // 精品微课
		margin-top: px(10);
		li {
			width: 100%;
			height: px(95);
			margin: px(20) 0;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			// border-bottom: 1px solid #ccc;
			border-bottom: 1px solid rgba(0,0,0,.08);
			&:last-child {
				border-bottom: 0;
			}
		}
		.pic {
			width: px(116);
			height: px(80);
			background: #D8D8D8;
			border-radius: 8px;
			float: left;
			-webkit-flex-shrink: 0;
			flex-shrink: 0;
		}
		.info {
			font-size: px(14);
			color: #4A4A4A;
			letter-spacing: -0.34px;
			width: auto;
			min-width: px(190);
			height: 100%;
			margin-left: px(20);
			float: left;
			-webkit-flex: 1;
			flex: 1;
			>div {
				width: 100%;
				height: px(26);
				line-height: px(26);
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: row;
				flex-direction: row;
			}
			.tt {
				color: #534f4f;
				font-size: px(18);
				font-weight: 500;
				line-height: 18px;
				letter-spacing: -0.5px;
				float: left;
				-webkit-flex: 1;
				flex: 1;
				padding: 0;
				margin-top: 5px;
				@include ellipsis();
			}
			// .price {
			// 	width: 60px;
			// 	float: right;
			// 	text-align: right;
			// 	color: #F6A623;
			// 	-webkit-flex-shrink: 0;
			// 	flex-shrink: 0;
			// }
			.teacher {
				color: #a4a4a4;
				text-align: left;
				clear: both;
				// margin-top: px(-5);
			}
			.study {
				float: left;
				-webkit-flex: 1;
				flex: 1;
				font-size: 14px;
				color: #F6A623;
				letter-spacing: -0.34px;
			}
			.price {
				float: right;
				text-align: right;
				-webkit-flex: 1;
				flex: 1;
				font-size: 14px;
				color: #F6A623;
				letter-spacing: -0.34px;
			}
		}
	}
}

.dialog-first {
	>div {
		height: px(140);
		margin-top: px(140/-2);
	}
	.info {
		height: 65px;
		margin-left: 20px;
		margin-top: 30px;
		>div {
			float: left;
		}
		.pic {
			height: 65px;
			width: 65px;
			background: #eee;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.sound {
			margin-left: 20px;
			width: px(120);
			height: px(60);
			border-radius: 30px;
			margin-top: px(3);
			background-color: #fff;
		}
	}
	.btn-join {
		font-size: 14px;
		color: #FEC73A;
		display: inline-block;
		margin: 10px 20px 0 0;
		text-align: right;
		float: right;
	}
}

.dialog-posters {
	>div {
		height: 420px;
		margin-top: -210px;
		.contents {
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}