<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> 学堂系统 </title>
    <meta name="keywords" content="学堂系统" />
    <meta name="description" content="" />
    <script type="text/javascript">
    var w_width = parseInt(window.screen.width);
    if(w_width < 370) {
        var phoneScale = w_width / 375;　　
        document.write('<meta name="viewport" content="width=375, minimum-scale=' + phoneScale + ', maximum-scale=' + phoneScale + ', target-densitydpi=device-dpi" />');
    }
    else {
        document.write('<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />');
    }
    </script>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
	<div id="loading"><div id="loading-center"><div id="loading-center-absolute"><div id="object"></div></div></div></div>

	<div id="index-main" class="hide" v-bind:class="{show: show}">

		<div class="top-search" v-bind:class="{show: is_search}">
			<input type="search" name="key" placeholder="输入课程名、讲师名进行搜索" v-model="search_key" @focus="inputSearch" @blur="blurSearch" @input="search" />
		</div>

		<div class="slider swiper-container" v-bind:class="{hide: is_search && search_key!==''}">
			<div class="swiper-wrapper">
	            <div class="swiper-slide"
	            	v-for="item in slider"
	             	v-bind:style="{ backgroundImage: 'url('+ item.coverUrl +')' }"
	             	v-on:click="showPoster(item.type, item.detailUrl)"></div>
	        </div>
	        <div class="swiper-pagination"></div>
		</div>

		<div class="column" v-bind:class="{hide: is_search && search_key!==''}">
			<div class="tt">免费微课</div>
	        <ul class="free-class">
	            <li v-for="item in free_class" v-bind:id="'free_class_'+ item.id">
	            	<img class="pic" v-bind:src="item.imageUrl" />
	            	<audio v-bind:src="item.audioUrl" preload="preload" class="hide"></audio>
	            	<div class="sound" v-on:click="playSound(item.audioUrl, item.id)"></div>
	            </li>
	        </ul>
		</div>
	    <div class="line h20" v-bind:class="{hide: is_search && search_key!==''}"></div>

	    <div class="column" v-bind:class="{hide: is_search && search_key!==''}">
	        <div class="tt">精品微课</div>
	        <ul class="best-class">
	            <li v-for="item in best_class">
	                <a v-bind:href="'course-detail.html?id='+item.id"><img class="pic" v-bind:src="item.coverUrl" /></a>
	                <a v-bind:href="'course-detail.html?id='+item.id">
	                <div class="info">
	                    <div>
	                        <div class="tt" v-html="item.name"></div>
	                        <div class="price" v-html="'￥'+ item.price"></div>
	                    </div>
	                    <div class="teacher" v-html="item.teacherName"></div>
	                    <div>
	                        <div class="longtime" v-html="item.lessonTotal +'课时'"></div>
	                        <div class="study" v-html="item.studentTotal + '人学过'"></div>
	                    </div>
	                </div>
	                </a>
	            </li>
	        </ul>
	    </div>

	    <!-- 搜索结果 -->
	    <div class="column search-list" v-if="is_search && search_key !== ''">
	        <ul class="best-class">
	            <li v-for="item in search_class">
	                <a v-bind:href="'course-detail.html?id='+item.id"><img class="pic" v-bind:src="item.coverUrl" /></a>
	                <a v-bind:href="'course-detail.html?id='+item.id">
	                <div class="info">
	                    <div>
	                        <div class="tt" v-html="item.name"></div>
	                        <div class="price" v-html="'￥'+ item.price"></div>
	                    </div>
	                    <div class="teacher" v-html="item.teacherName"></div>
	                    <div>
	                        <div class="longtime" v-html="item.lessonTotal +'课时'"></div>
	                        <div class="study" v-html="item.studentTotal + '人学过'"></div>
	                    </div>
	                </div>
	                </a>
	            </li>
	        </ul>
	    </div>

	 </div>

	 <!-- <div class="dialog dialog-first hide">
	    <div>
	    	<div class="top"><i class="close"></i></div>
	    	<div class="contents">
	    		<div class="info">
	    			<div class="pic"></div><div class="sound"></div>
	    		</div>
	    		<a href="user-camp.html" class="btn-join">加入成长营</a>
	    	</div>
	    </div>
    </div> -->

    <div class="dialog dialog-posters hide">
    	<div>
	    	<div class="top"><i class="close"></i></div>
	    	<div class="contents"></div>
	    </div>
    </div>

	<div class="footer"></div>
    <footer>
        <div><a href="user-camp.html">成长营</a></div>
        <div class="selected">父母堂</div>
        <div><a href="user.html">我的</a></div>
    </footer>
</body>

</html>
<script data-main="js/app/index.js" src="lib/require.js"></script>