<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> 意见反馈 </title>
    <meta name="keywords" content="学堂系统" />
    <meta name="description" content="" />
    <script type="text/javascript">
    var w_width = parseInt(window.screen.width);
    if(w_width < 370) {
        var phoneScale = w_width / 375;　　
        document.write('<meta name="viewport" content="width=375, minimum-scale=' + phoneScale + ', maximum-scale=' + phoneScale + ', target-densitydpi=device-dpi" />');
    }
    else {
        document.write('<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />');
    }    
    </script>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/user.css" />
</head>

<body class="user-plan-feedback">
    <div id="user-plan-feedback-main">
        <div class="content">
            <div class="item">
                <div class="tt">文字</div>
                <div class="con">
                    <input type="text" name="font" placeholder="本次任务完成了..." v-model="text" />
                </div>
            </div>
            <div class="item">
                <div class="tt">语音</div>
                <div class="con">
                    <div class="sound"></div>
                    <div class="say" @click="setSound()"></div>
                </div>
            </div>
            <div class="item">
                <div class="tt">图片</div>
                <div class="con">
                    <ul class="imgs">
                        <li v-for="item in imgs" @click="uploadImg(item.idx)">
                            <img v-bind:src="item.img_id" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer"></div>
        <div class="bt-joinme" @click="save()"><span class="f20">提交</span></div>
    </div>
</body>

</html>
<script data-main="js/app/user-plan-feedback.js" src="lib/require.js"></script>